h1 {
	color: blue;
	background-color: white;
	padding: 20px;
	border: 5px solid black;
	border-radius: 2px 2px 5px black;
	text-align: center;
}
h2 {
	text-align: center;
}
.aligncenter {
	text-align: center;
}
.herodetails {
	margin-left: 10%;
	margin-right: 10%;
}
